/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(183, 183, 183);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* SECTIONS */

section {
  padding-top: 60px;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: auto;
  position: relative;
}

.pic-container img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.section_text {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section_text a {
  font-size: 32px;
  transition: transform 0.2s ease-in-out;
}

.section_text a:hover {
  transform: scale(1.2);
}

.section_text h2 {
  font-weight: 800;
}

.section_text img {
  width: 34px;
  height: 34px;
  transition: transform 0.2s ease;
}

.section_text img:hover {
  transform: scale(1.2);
}

.section_text p {
  font-weight: 500;
  font-size: 20px;
}

.section_text_p1 {
  text-align: center;
  padding-top: 20px;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: white;
  padding-top: 12rem;
}

.title2 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

#socials {
  position: relative;
  padding-top: 5%;
}

.contact-title {
    font-size: 3rem;
    text-align: center;
    color: white;
}

.contact-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
  color: white;
}

/* ICONS */

.icon {
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 2rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(0, 0, 0);
  border: rgb(145, 145, 145) 0.2rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  padding-top: 17%;
  
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
  color: white;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: white;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: large;
}

.contact-icon {
  cursor: default;
}

#contact h3 {
  color: white;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.contact-details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(0, 0, 0);
  border: rgb(53, 53, 53) 0.2rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.icons {
  height: 2.5rem;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.icons:hover {
  transform: scale(1.3);
}

/* FOOTER SECTION */



/* HEADER */

/* header {
  width: 100%;
  background-color: #000;
  z-index: 10;
} */

/* Navbar styles */
.navbar {
  background-color: #000;
  position: relative;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar-brand {
  font-size: 2rem;
  color: white;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Navbar collapse styles */
.navbar-collapse {
  display: none;
  position: absolute;
  top: 100%;
  left: 69%;
  right: 0%;
  background-color: #000;
  z-index: 999;
  text-align: right;
}

.navbar-collapse.show {
  display: grid;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 0.5rem;
}

.nav-link {
  display: grid;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #2c2c2c;
}


/* Footer */

footer {
  text-align: center;
  margin-top: 10%;
  padding-bottom: 10px;
}

footer p {
  font-weight: 300;
  font-size: small;
}